<app-common></app-common>
<div class="col-6 forum-add" style="padding-top: 40px;display: block">
    
    <div class="form-label-group">
    <label for="card_type">Card Type</label>
          <select name="Card_Type" input id="card_type" autofocus="">
    <option value="volvo">Visa Credit Card</option>
    <option value="volvo">Master Credit Card</option>
  </select>
          </div>
      <br>
    <div class="form-label-group">
          <label for="acc_no">Recipient card Number</label>
          <input id="card_no" class="form-control" placeholder="Account Number"  autofocus="" type="number" required>
      </div>
      <br>
      <div class="form-label-group">
          <label for="acc_no">Confirm card Number</label>
          <input id="c_card_no" class="form-control" placeholder="Account Number"  autofocus="" type="number" required>
      </div>
      <br>
     <div class="form-label-group">
    <input type="checkbox" name="checkbox" value="check" id="agree" /> I have read and agree to the Terms and Conditions and Privacy Policy
  </div>
      <div class="form-label-group">
          <button class="btn btn-info" onclick="location.reload()">Cancel</button>
          <button class="btn btn-info" style="float: right" onclick="goOtherNext()">Next</button>
      </div>
  
  </div>
